@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

:root {
    --neutral-200: hsl(0, 0%, 99%);
    --neutral-500: hsl(0, 0%, 59%);
    --neutral-800: hsl(0, 0%, 19%);

    --primary-200: hsl(328, 20%, 77%);
    --primary-500: hsl(328, 20%, 57%);
    --primary-800: hsl(328, 20%, 37%);
    

    --secondary-200: hsl(27, 9%, 92%); 
    --secondary-500: hsl(27, 9%, 62%); 
    --secondary-800: hsl(27, 9%, 32%); 

    --accent-200: hsl(186, 37%, 80%); 
    --accent-500: hsl(186, 37%, 60%); 
    --accent-800: hsl(186, 37%, 40%); 
}

* {
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
}

body {
    font-family: "Source Sans Pro", sans-serif;  
    background-color: var(--neutral-200);
    color: var(--neutral-800);
    font-size: 16px;
    width: 100%;   
}

/* Menu de Navegacion*/
.nav-menu {
    background-color: var(--primary-500);
    height: 70px;
    font-size: 1.2em;
    align-items: center;
    justify-content:space-between;
    display: flex;
    padding: 20px 3.5em;
}

.nav-menu .menu ul {
    display: flex;
}

.nav-menu .menu li {
    padding-left: 3em;
}

li {
    list-style: none;
}

.nav-menu .menu a:hover, 
.menu-2 a:hover{
    color: var(--neutral-200);
    border-bottom: 1px solid var (var(--neutral-200));
    font-weight: 600;
}

a {
    color: var(--secondary-200);
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .nav-menu {
        font-size: 1em;
    }
}

@media screen and (max-width: 768px) {
    .nav-menu {
        padding: 20px 5%;
    }
}

@media screen and (max-width: 500px) {
    .nav-menu .logo {
        font-size: .8em;
    }
}

/*Banner*/
.banner {
    background: no-repeat center/cover url("../img/banner.jpg");
    padding: 18% 0 18% 5%;
}

.banner .title {
    color: var(--secondary-800);
    font-size: 5em;
}

.banner .subtitle {
    font-size: 1.5em;
    padding-left: 4px;
}

@media screen and (max-width: 768px) {
    .banner .title {
        font-size: 3em;
    }
}

@media screen and (max-width: 500px) {
    .banner .title {
        font-size: 2em;
    }

    .banner .subtitle {
        font-size: 1em;
        padding-left: 0;
    }
}

/*Main*/
.container {
    width: 90%;
    margin: 50px auto;
}

 /*Section 1*/
.inner-container {
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding: 4em 0;
}

.cards .title {
    text-align: center;
    font-size: 2em;
    color: var(--secondary-800);
    letter-spacing: 1px;
}

.card {
    margin: 0 auto;
    box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 300px;
}

.card-head img {
    width: 100%;
    transition-duration: 1s;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-head img:hover {
    transform: rotateX(360deg);
}

.card-body {
    padding: 2em 0;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .card {
        width: 250px;
    }

    .cards .title {
        font-size: 2em;
    }

    .card-body {
        font-size: 1em;
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: 200px;
    }

    .cards .title {
        font-size: 1.5em;
    }

    .card-body {
        font-size: .8em;
    }
}

@media screen and (max-width: 500px) {
    .inner-container {
        padding: 2em 0;
        grid-template-columns: 1fr;
    }

    .card {
        width: 200px;
        margin-bottom: 50px;
    }

    .cards .title {
        font-size: 1.5em;
    }

    .card-body {
        font-size: .8em;
    }
}

/*Section 2*/
.section {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding: 4em;
    padding-left: 6em;
}

.section .text {
    padding-left: 7em;
    padding-right: 4em;
}

.section .image {
    width: 900px;
}

.section .image img {
    width: 100%;
    box-shadow: -25px -30px var(--primary-200);
}

/* Section Reverse */
.section.reverse {
    flex-direction: row-reverse;
    padding-right: 6em;
    padding-left: 0;
}

.section.reverse .text {
    padding-right: 7em;
    padding-left: 4em;
}

.section.reverse .image {
    width: 600px;
}

.section.reverse .image img {
    box-shadow: 25px -30px var(--primary-200);
}

@media screen and (max-width: 1024px) {
    .section .image {
        width: 1000px;
    }
}

@media screen and (max-width: 768px) {
    .section .image,
    .section.reverse .image {
        width: 500px;
        padding-bottom: 2em;
    }

    .section {
        flex-direction: column !important;
        padding: 3em 0;
    }

    .section.reverse {
        padding-right: 0;
    }

    .section .text, .section.reverse .text {
        padding: 0 3em;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    .section {
        padding: 2em 0;
        margin-top: -50px;
    }

    .section.reverse {
        margin-top: 0;
    }

    .section .image img {
        box-shadow: none !important;
    }
}

/*Footer*/
footer {
    background-color: var(--primary-500);
    font-size: 1rem;
    text-align: center;
}

.sections {
    padding: 2% 3.5em 0;
}

.sections, .social-media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.menu-2 li,
.address p {
    padding: 10px 0;
}

.menu-2 li:first-child,
.address p:first-child {
    padding-top: 0;
}

.copyright {
    border-top: 1px solid var(--primary-200);
    margin: 1em 5em 0;
    padding: 1em 5em;
    font-size: 1.1em;
    font-weight: 600;
}

.social-media  {
    padding-top: 1.5em;
}

.social-media .icon {
    font-size: 2em;
}

@media screen and (max-width: 1024px) {
    .social-media .icon {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 768px) {
    .sections {
        padding: 2% 0 0;
    }

    footer {
        font-size: .9em;
    }

    .copyright {
        font-size: 1em;
    }
}

@media screen and (max-width: 500px) {
    .sections {
        grid-template-columns: 1fr;
    }

    .menu-2, .social-media, .address {
        padding: 2em 0 1em;
    }

    .social-media .icon {
        font-size: 2em;
    }

    .copyright {
        margin: 1em 3em 0;
        padding: 3em 0;
    }
}

/* Botón Subir */
#btn-up {
    background-color: var(--primary-800);

    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;

    position: fixed;
    bottom: 20px;
    right: 10px;
}

#btn-up:hover {
    background-color: var(--primary-200);
    color: var(--primary-800);
}

@media screen and (max-width: 500px) {
    #btn-up {
        background-color: var(--primary-800);

        width: 40px;
        height: 40px;
        border-radius: 50%;
        line-height: 40px;
        text-align: center;
    
        position: fixed;
        bottom: 20px;
        right: 80px;
    }
}
